/* mandatory stuff */
@font-face {
  font-family: "verify me";
  src: url("./assets/junicode_font/Junicode-Regular.ttf") format("truetype");
}

:root {
  --color-background: #1f1f1f;
  --color-text: #d1cfc0;
  --color-dark: #121212;
  --color-light: #f76f53;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

#root::-webkit-scrollbar {
  display: none;
}


body {
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
